= render 'layouts/main_sections/sectionone'
= render 'layouts/main_sections/calendarsection'
= render 'layouts/main_sections/sectiontwo'
= render 'layouts/main_sections/sectionthree'
= render 'layouts/main_sections/sectionfour'
