%section#listen.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 Discography
      %p
        Click on an album to preview and
        %a purchase it
        online.
      #slickContainer
        .album
          = image_tag("discog/album-elise.png")
        .album
          = image_tag("discog/album-gravel.jpg")
        .album
          = image_tag("discog/album-faces.jpg")
        .album
          = image_tag("discog/album-entropy-ensemble.jpg")
        .album
          = image_tag("discog/album-jackson.jpg")
        .album
          = image_tag("discog/album-simon.jpg")
        .album
          = image_tag("discog/album-lindsay.jpg")
        .album
          = image_tag("discog/album-absalon.jpg")
