%section#listen.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 Discography
      %p
        Click on an album to preview and
        %a purchase it
        online.
      #slickContainer
        .album
          %a{:href => "http://elisetestone.com/merch/in-this-life-album", target:"_blank"}
            = image_tag("discog/elise-testone-in-this-life.png")
        .album
          %a{:href => "http://www.cdbaby.com/cd/jordangravel", target:"_blank"}
            = image_tag("discog/jordan-gravel-inner-preservation-album.jpg")
        .album
          %a{:href => "http://facesforradio.bandcamp.com/", target:"_blank"}
            = image_tag("discog/album-faces.jpg")
        .album
          %a{:href => "http://entropyensemble.bandcamp.com/album/between-the-lines-instrumental-arrangements-of-radiohead", target:"_blank"}
            = image_tag("discog/album-entropy-ensemble.jpg")
        .album
          %a{:href => "http://www.amazon.com/Song-Noir-Jackson-Evans/dp/B005EV5C1C/ref=sr_1_2?s=dmusic&ie=UTF8&qid=1398548257&sr=1-2&keywords=Jackson+Evans", target:"_blank"}
            = image_tag("discog/album-jackson.jpg")
        .album
          %a{:href => "http://www.amazon.com/Thoughts-Simon-Harding-Minor-Gravity/dp/B005BY8UYI/ref=sr_1_1?ie=UTF8&qid=1398548298&sr=8-1&keywords=simon+harding+new+thoughts", target:"_blank"}
            = image_tag("discog/album-simon.jpg")
        .album
          %a{:href => "https://itunes.apple.com/us/album/love-gone-awry/id264659221", target:"_blank"}
            = image_tag("discog/album-lindsay.jpg")
        .album
          %a{:href => "http://www.cdbaby.com/cd/kevinhackler", target:"_blank"}
            = image_tag("discog/album-absalon.jpg")
